///ЦВЕТА ПО МАКЕТУ

$orange-color: #f87719;
$black-color: #111111;
$light-black-color: #282828;
$gray-color: #595959;
$light-gray-color: #b7b7b7;
$transparent-white-color: #f8f8f8;
$white-color: #ffffff;
$red-color: #ff0000;

:root[data-theme='dark'] {
  --page-bgc: #{$black-color};
  --hero-bgc-clr: #{$light-black-color};
  --hero-title-clr: #{$white-color};
  --hero-subtract-clr-desk: url('/src/images/subtract_black.png');
  --hero-subtract-clr-tab: url('/src/images/subtract_black_tablet.png');
  --hero-subtract-clr-mob: url('/src/images/subtract_black_mob.png');
  --hero-slider-btn: #{$light-gray-color};
  --hero-slider-arrow: #{$transparent-white-color};
  --primary-text-clr: #{$white-color};
  --secondary-text-clr: #{$transparent-white-color};
  --muted-text-clr: #{$light-gray-color};
  --secondary-bcg-clr: #{$white-color};
  --muted-secondary-text-clr: #{$light-gray-color};
  --modal-text-color: #{$black-color};
  --modal-secondary-color: #{$transparent-white-color};

  --switcher-pos-mob: 18px;
  --switcher-pos-tab: 30px;
  --switcher-pos-desk: 34px;

  --switcher-bow-pos-mob: -16px;
  --switcher-bow-pos-tab: -4px;
  --switcher-bow-pos-desk: 0px;

  --switcher-bow-rotaion: 0;

  --mobile-menu-bgc: #{$black-color};
  --backdrop-bgc: rgb(255, 255, 255);
}

:root[data-theme='light'] {
  --page-bgc: #{$white-color};
  --hero-bgc-clr: #{$transparent-white-color};
  --hero-title-clr: #{$black-color};
  --hero-subtract-clr-desk: url('/src/images/subtract_white.png');
  --hero-subtract-clr-tab: url('/src/images/subtract_white_tablet.png');
  --hero-subtract-clr-mob: url('/src/images/subtract_white_mob.png');
  --hero-slider-btn: #{$light-black-color};
  --hero-slider-arrow: #{$gray-color};
  --primary-text-clr: #{$light-black-color};
  --secondary-text-clr: #{$light-black-color};
  --muted-text-clr: #{$gray-color};
  --secondary-bcg-clr: #{$transparent-white-color};
  --muted-secondary-text-clr: #{$black-color};
  --modal--text-color: #{$light-black-color};
  --modal-secondary-color: #{$black-color};

  --switcher-pos-mob: -3px;
  --switcher-pos-tab: -3px;
  --switcher-pos-desk: -2px;

  --switcher-bow-pos-mob: -36px;
  --switcher-bow-pos-tab: -36px;
  --switcher-bow-pos-desk: -35px;

  --switcher-bow-rotaion: 180deg;

  --mobile-menu-bgc: #{$transparent-white-color};
  --backdrop-bgc: rgb(0, 0, 0);
}

$linear-gradient-up: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
$linear-gradient-down: linear-gradient(
  141.22deg,
  #f84119 9.4%,
  rgba(248, 159, 25, 0.68) 91.91%
);
