///ЦВЕТА ПО МАКЕТУ

$orange-color: #f87719;
$black-color: #111111;
$light-black-color: #282828;
$gray-color: #595959;
$light-gray-color: #b7b7b7;
$transparent-white-color: #f8f8f8;
$white-color: #ffffff;

$linear-gradient-up: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
$linear-gradient-down: linear-gradient(
  141.22deg,
  #f84119 9.4%,
  rgba(248, 159, 25, 0.68) 91.91%
);
