html {
  cursor: url('..//../images/cursor-orange&black.svg'), pointer;
}

a {
  cursor: url('..//../images/cursor-orange&white.svg'), pointer;
}

button {
  cursor: url('..//../images/cursor-orange&white.svg'), pointer;
}

a:hover {
  cursor: url('..//../images/cursor-orange&white.svg'), pointer;
}

button:hover {
  cursor: url('..//../images/cursor-orange&white.svg'), pointer;
}

svg:hover {
  cursor: url('..//../images/cursor-orange&white.svg'), pointer;
}

.header__theme-switcher:hover {
  cursor: url('..//../images/cursor-orange&white.svg'), pointer;
}
