<div class='watch-modal modal-error'>
  <div class='watch-modal__content'>
    <img
      class='watch-modal__error-image'
      src='/src/images/watch-trailer-modal_desk_1x.png'
      alt='Error'
    />
    <button type='button' class='watch-modal__close'>
      <svg
        class='watch-modal__close-icon'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M18 6L6 18'
          stroke='#F3F3F3'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        />
        <path
          d='M6 6L18 18'
          stroke='#F3F3F3'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        />
      </svg>
    </button>

    <p class='watch-modal__error-message'>
      OOPS... We are very sorry! But we couldn’t find the trailer.
    </p>
  </div>
</div>