<div class='watch-modal modal-error'>
  <div class='watch-modal__content'>
    <img class='watch-modal__error-image' src='{{icon}}' alt='Error' />
    <button type='button' class='watch-modal__close'>
      <img
        class='watch-modal__close-image'
        src='/src/images/close-watch-trailer-icon.png'
        alt='Close'
      />

    </button>

    <p class='watch-modal__error-message'>
      OOPS... We are very sorry! But we couldn’t find the trailer.
    </p>
  </div>
</div>