<div class='watch-modal'>
  <div class='watch-modal__content'>
    <iframe
      id='trailer-video'
      class='watch-modal__iframe'
      src='{{videoUrl}}'
      frameborder='0'
      allowfullscreen
    ></iframe>
  </div>
</div>