<div class="team team__backdrop is-hidden">
  <div class="team__wrapper">
    <button class="team__modal-close-btn" type="button">
      <svg class="team__modal-close-icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-x-button"></use>
      </svg>
    </button>
    <h1 class="team__title">🎥 FREE TIME TEAM 🎬</h1>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/01-viktor-svertoka.jpg"
            alt="Viktor Svertoka"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Viktor Svertoka</p>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktor-svertoka-15894a274/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/02-yevhenii-lukashov.jpeg"
            alt="Yevhenii Lukashov"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Yevhenii Lukashov</p>
          <p class="team__role">Scrum Master</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/yevhenii-lukashov/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/EuJinnLucaShow"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/03-dmytro-samus.jpeg"
            alt="Dmytro Samus"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Dmytro Samus</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/dimitriy-samus-b00860274/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/samusdimitriy"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/04-volodymyr-zhyvun.jpg"
            alt="Volodymyr Zhyvun"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Volodymyr Zhyvun</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/vladimirzhyvun"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Zhyvun"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/01-viktor-svertoka.jpg"
            alt="Viktor Svertoka"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Viktor Svertoka</p>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktor-svertoka-15894a274/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>

          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/01-viktor-svertoka.jpg"
            alt="Viktor Svertoka"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Viktor Svertoka</p>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktor-svertoka-15894a274/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>

          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/01-viktor-svertoka.jpg"
            alt="Viktor Svertoka"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Viktor Svertoka</p>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktor-svertoka-15894a274/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>

          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/01-viktor-svertoka.jpg"
            alt="Viktor Svertoka"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Viktor Svertoka</p>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktor-svertoka-15894a274/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>

          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/01-viktor-svertoka.jpg"
            alt="Viktor Svertoka"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Viktor Svertoka</p>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktor-svertoka-15894a274/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>

          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/01-viktor-svertoka.jpg"
            alt="Viktor Svertoka"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Viktor Svertoka</p>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktor-svertoka-15894a274/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>

          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
