<section class="footer section">
  <h2 class="footer__title visually-hidden">Title</h2>
  <div class="footer__container container">
    <p class="footer__copyright">© 2023 | All Rights Reserved |</p>
    <div class="footer__wrapper">
    <p class="footer__desc">
      Developed with
      <svg class="footer__icon" width="14" height="13">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      <span class="footer__text">by</span>
      <!-- <button
        class="footer__link footer__link--active footer__link--animation"
        data-event="false"
        type="button"
      >
        GoIT Students
      </button> -->
      <p class="footer__draw-text">
        <button class="footer__link footer__draw-link" data-event="false"
        type="button">
        GoIT Students
        <svg class="footer__draw-svg" viewBox="0 0 70 36">
            <path d="M6.9739 30.8153H63.0244C65.5269 30.8152 75.5358 -3.68471 35.4998 2.81531C-16.1598 11.2025 0.894099 33.9766 26.9922 34.3153C104.062 35.3153 54.5169 -6.68469 23.489 9.31527" />
        </svg>
    </button>
</p>
    </p>
    </div>
  </div>
</section>
