<section class="footer section">
  <h2 class="footer__title visually-hidden">Title</h2>
  <div class="footer__container container">
    <p class="footer__copyright">© 2023 | All Rights Reserved |</p>
    <p class="footer__desc">
      Developed with
      <svg class="footer__icon" width="14" height="13">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      <span class="footer__text">by</span>
      <button
        class="footer__link footer__link--active footer__link--animation"
        data-event="false"
        type="button"
      >
        GoIT Students
      </button>
    </p>
  </div>
</section>
