<header class="site-header">
  <div class="container header__container">
    <div class="logo-box">
      <div class="logo"></div>
      <span class="logo-text">Cinemania</span>
    </div>
    <div class="mobile-menu__container" id="mobile-menu__container" data-menu>
      <nav class="site-nav">
        <ul class="nav-list">
          <li class="nav-list__item">Home</li>
          <li class="nav-list__item">Catalog</li>
          <li class="nav-list__item">My library</li>
        </ul>
      </nav>
    </div>
    <button class="header__menu-button" data-menu-open>Menu</button>
    <div class="header__theme-switcher"></div>
  </div>
</header>
