<header class="site-header">
  <div class="container header__container">
    <a href="/src/index.html">
      <div class="logo">
        <img
          src="/src/images/header_logo@2x.png"
          loading="lazy"
          alt="logo"
          class="logo-img"
        />
        <span class="logo-text">Cinemania</span>
      </div>
    </a>
    <div class="mobile-menu__container" id="mobile-menu__container" data-menu>
      <a href="/src/index.html"
        ><img
          loading="lazy"
          src="/src/images/header_logo@2x.png"
          alt="logo"
          class="mobile-menu__logo-img"
      /></a>
      <nav class="site-nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="/src/index.html" class="nav-list__link current-page__home"
              >Home</a
            >
          </li>
          <li class="nav-list__item">
            <a
              href="/src/catalog.html"
              class="nav-list__link current-page__catalog"
              >Catalog</a
            >
          </li>
          <li class="nav-list__item">
            <a
              href="/src/my-library.html"
              class="nav-list__link current-page__my-library"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="header__menu-button" data-menu-open>
      Menu
    </button>
    <div class="header__theme-switcher" id="theme-switcher">
      <svg id="icon-moon">
        <use href="/src/images/sprite.svg#icon-moon"></use>
      </svg>
      <svg id="icon-sun">
        <use href="/src/images/sprite.svg#icon-sun"></use>
      </svg>
    </div>
  </div>
  <div class="backdrop visually-hidden" data-backdrop></div>
</header>
