<section class="hero">
  <div class="container">
    <h1 class="visually-hidden">Movie of day</h1>
    <div class="slider-container">
      <div class="slider">


      </div>
      <div class="slider__buttons">
        <button type="button" class="slider-btn-left slider-btn">
          <!-- <img src="./images/slider-btn-left.png" alt=""> -->
          <svg class="slider__icon" width="28" height="28">
            <use href="/src/images/sprite.svg#icon-left"></use>
          </svg>
        </button>
        <div class="slider-nav">

        </div>
        <button type="button" class="slider-btn-right slider-btn">
          <!-- <img src="./images/slider-btn-right.png" alt=""> -->
          <svg class="slider__icon" width="28" height="28">
            <use href="/src/images/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="trailer-modal"></div>
</section>