<section class="hero">
  <div class="container">
    <!-- <img src="./images/Subtract_black.png" alt="" class="hero__subtract"> -->
    <div class="hero__block-left">
      <h1 class="hero__title">Let’s Make Your Own Cinema</h1>

      <p class="hero__text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers. Decorate your space, choose your
        films, and stock up on snacks for the full experience.
      </p>
      <button class="watch-trailer" data-movie-id="">Watch trailer</button>
    </div>
    <!-- <img src="./images/hero.jpg" alt="" class="hero__img"> -->
  </div>
</section>
