<section class="hero ">
    <!-- <div class="container" id="heroContainerImg" >
        <div class="hero__container">
            <div class="hero__block-left">
                <h1 class="hero__title">Let’s Make Your Own Cinema</h1>

                <p class="hero__text">
                    Is a guide to creating a personalized movie theater experience. You'll
                    need a projector, screen, and speakers. <span class="hero__text-hidden"> Decorate your space, choose
                        your
                        films, and stock up on snacks for the full experience.</span>
                </p>
                <button class="watch-trailer" id ="hero__btn" data-movie-id="">Get Started</button>
            </div>

        </div>

    </div> -->
</section>