<!-- <button class="btn" id="openModalPopUp">Open modal</button> -->

<div class="overlay" id="overlayPopUp"></div>
<div class="modal-film" id="modalPopUp">
  <button class="modal-film__close" id="closeModalPopUp">
    <svg width="18" height="18" class="modal-film__close-icon">
      <use href="./images/sprite.svg#icon-cross-closed"></use>
    </svg>
  </button>
  <div class="modal-film__container">
    <img src="#" alt="image.png" class="modal-film__img" />
    <div class="modal-film__card">
      <h2 class="modal-film__title">John Wick: Chapter 4</h2>
      <div class="modal-film__blok">
        <ul class="modal-film__list attribute">
          <li class="modal-film__link">Vote / Votes</li>
          <li class="modal-film__link">Popularity</li>
          <li class="modal-film__link">Genre</li>
        </ul>

        <ul class="modal-film__list">
          <li class="modal-film__link-item item-votes">
            <div class="vote">7.3</div>
            &nbsp;/&nbsp;
            <div class="votes">1260</div>
          </li>
          <li class="modal-film__link-item popularity">100.2</li>
          <li class="modal-film__link-item genres">Action Thriller Crime</li>
        </ul>
      </div>
      <h3 class="modal-film__about">ABOUT</h3>
      <p class="modal-film__about-txt">
        John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the
        upcoming fourth instalment of the series. With the price on his head
        ever increasing, John Wick uncovers a path to defeating The High Table.
        But before he can earn his freedom, Wick must face off against a new
        enemy with powerful alliances across the globe and forces that turn old
        friends into foes.
      </p>
      <button class="btn" id="mylibrary">Add to my library</button>
    </div>
  </div>
</div>
