<div class="backdrop is-hidden" data-modal>
<div class="modal modal-film" data-modal-film>
        <!--   Svg иконка для закрытия окна  -->
        <button class="modal-film__close" data-modal-close>
            <!-- <svg width="24" height="24">
                    <use href="./images/icons-sprite.svg#icon-close"></use>
                </svg> -->
        </button>
    <div class="modal-film__images">
        <img class="modal-film__img" src="#" alt="John Wick: Chapter 4">
    </div>
<div class="modal-film__container">
<h2 class="modal-film__title">John Wick: Chapter 4</h2>
<div class="modal-film__thumb">
<ul class="modal-film__list">
    <li class="modal-film__item">
        <p class="modal-film__text">Vote / Votes</p>
        <p class="modal-film__vote">
            <span class="vote">7.3</span> / <span class="vote">1260</span>
        </p>
    </li>
    <li class="modal-film__item">
        <p class="modal-film__text">Popularity</p>
        <p class="modal-film__pop">100.2</p>
    </li>
    <li class="modal-film__item">
        <p class="modal-film__text">Genre</p>
        <p class="modal-film__genre">Action Thriller Crime</p>
    </li>
</ul>
</div>
<!-- <table class="modal-film__table">
    <tbody>
    <tr class="modal-film__row">
        <td>
            <p class="modal-film__attribute">Vote / Votes</p>
        </td>
        <td>
            <p><span class="modal-film__votes">7.3</span> / <span class="modal-film__votes">1260</span></p>
        </td>
    </tr>
    <tr class="modal-film__row">
        <td>
            <p class="modal-film__attribute">Popularity</p>
        </td>
        <td>
            <p>100.2</p>
        </td>
    </tr>
    
    <tr class="modal-film__row">
        <td>
            <p class="modal-film__attribute">Genre</p>
        </td>
        <td>
            <p>Action Thriller Crime</p>
        </td>
    </tr>
    <tbody>
</table> -->

<h3 class="modal-film__about">About</h3>
<p class="modal-film__text-about">John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the upcoming fourth
    instalment of the series. With
    the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn
    his
    freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old
    friends into foes.</p>
<button type="button" class="modal-film__button" data-modal-film-btn>Add to my library</button>
    </div>










</div>
    </div>