<section class="my-lib__hero section">
    <div class="my-lib__hero-container">
        <h2 class="my-lib__hero-title">Create Your <br> Dream Cinema</h2>
        <p class="my-lib__hero-description">
          Is a guide to designing a personalized movie theater experience with the
          right equipment, customized decor, and favorite films. This guide helps you
          bring the cinema experience into your own home with cozy seating, dim
          lighting, and movie theater snacks.
        </p>
    </div>
</section>
