<!-- <section class="my-lib__hero section">
  <div class="my-lib__hero-container container">
    <h2 class="my-lib__hero-title">
      Create Your <br />
      Dream Cinema
    </h2>
    <p class="my-lib__hero-description">
      Is a guide to designing a personalized movie theater experience with the
      right equipment, customized decor, and favorite films. This guide helps
      you bring the cinema experience into your own home with cozy seating, dim
      lighting, and movie theater snacks.
    </p>
  </div>
</section> -->
<section class="hero">
  <div class="slider-container container">
    <div class="slider">


    </div>
    <div class="slider__buttons">
      <button type="button" class="slider-btn-left slider-btn">
        <!-- <img src="./images/slider-btn-left.png" alt=""> -->
        <svg class="slider__icon" width="28" height="28">
          <use href="/src/images/sprite.svg#icon-left"></use>
        </svg>
      </button>
      <div class="slider-nav">

      </div>
      <button type="button" class="slider-btn-right slider-btn">
        <!-- <img src="./images/slider-btn-right.png" alt=""> -->
        <svg class="slider__icon" width="28" height="28">
          <use href="/src/images/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
    <div class="trailer-modal"></div>
</section>
<section class="my-lib__gallery">
  <div class="container">
    <div class="my-lib__no-movies visually-hidden">
      <p class="my-lib__oops-message">
        OOPS...<br />
        We are very sorry! <br />
        You don’t have any movies at your library.
      </p>
      <a href="/src/catalog.html" class="my-lib__search-link button"
        >Search movie</a
      >
    </div>
    <ul class="my-lib__gallery-list" id="my-lib-gallery-list"></ul>
  </div>
</section>
