<section class="upcoming-movie">
  <div class="movie-card">
    <div class="movie-card__thumb">
      <img class="movie-card__image" src="#" alt="The Lost City" loading="lazy">
    </div>
    <div class="movie-data">
      <h2 class="movie-data__title">The Lost City</h2>

      <table class="movie-data-table">
        <tbody>
          <tr class="movie-data-table__row">
            <td>
              <p>Release date</p>
            </td>
            <td>
              <p>03.03.2023</p>
            </td>

          </tr>
          <tr class="movie-data-table__row">
            <td>
              <p class="movie-data__attribute">Vote / Votes</p>
            </td>
            <td>
              <p><span class="movie-data__vote">7.3</span> / 1260</p>
            </td>

          </tr>
          <tr class="movie-data-table__row">
            <td>
              <p>Popularity</p>
            </td>
            <td>
              <p>99.9</p>
            </td>

          </tr>
          <tr class="movie-data-table__row">
            <td>
              <p>Genre</p>
            </td>
            <td>
              <p>Action, Adventure, Comedy</p>
            </td>

          </tr>
        </tbody>
      </table>
      <h3 class="movie-data__about_title">About</h3>
      <p class="movie-data__about">
        Reclusive author Loretta Sage writes about exotic places in her popular adventure novels that feature a handsome
        cover
        model named Alan. While on tour promoting her new book with Alan, Loretta gets kidnapped by an eccentric
        billionaire who
        hopes she can lead him to the ancient city's lost treasure that featured in her latest story. Alan, determined
        to prove
        he can be a hero in real life and not just on the pages of her books, sets off to rescue her.
      </p>
      <div class="movie-data__button">
        <button type="button" data-btn="remind" class="movie-data__button movie-data__button_remind">
          add to watched
        </button>
      </div>
    </div>
  </div>
</section>