.team__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 998;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: visible;
  opacity: 1;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  & .team__wrapper {
    visibility: hidden;
    pointer-events: none;
    opacity: 0.3;
    transform: translate(-75%, -90%) scale(3);
  }
}

.team__wrapper {
  position: relative;
  z-index: 999;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px 20px;

  @include tablet {
    width: 580px;
  }

  @include desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 1200px;
    padding: 30px;
  }

  visibility: visible;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 28px 42px rgba(0, 0, 0, 0.38), 0 20px 20px rgba(0, 0, 0, 0.33);
}

.team__modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  color: $black-color;

  @include tablet {
    top: 10px;
    right: 10px;
  }

  &:hover {
    color: $orange-color;
  }
}

.team__modal-close-icon {
  fill: currentColor;
}

.team__title {
  text-align: center;
  text-transform: uppercase;
  color: $black-color;
  font-size: 24px;
  margin-bottom: 20px;
}

.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: $white-color;
  position: relative;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.team__wrap {
  overflow: hidden;
}

.team__img {
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 5px;
  width: 200px;
  height: 180px;
}

.team__box {
  @include font(500, 16px, null, null);
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
}

.team__member {
  font-weight: 500;
  font-size: 18px;
  color: $black-color;
  margin-bottom: 10px;
}

.team__role {
  font-weight: 500;
  font-size: 16px;
  color: $orange-color;
  margin-bottom: 10px;
}

.team__link-linkedin {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 10%;
  margin-right: 10px;
  background-color: transparent;
  fill: $black-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include animation3(background-color, color, fill);

  &--active:hover,
  &--active:focus {
    background-color: $orange-color;
    fill: $white-color;
  }
}

.team__link-github {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  fill: $black-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include animation3(background-color, color, fill);

  &--active:hover,
  &--active:focus {
    background-color: $orange-color;
    fill: $white-color;
  }
}
