.footer {
  @include mobile {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @include desktop {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.footer__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;

    .footer__desc {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .footer__desc {
      margin-top: 10px;
    }
    .footer__text {
      margin-right: 5px;
    }
  }
}

.footer__copyright {
  @include font(400, 16px, 1.19, null);
  color: var(--muted-text-clr);
  margin-right: 5px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__desc {
  @include font(400, 16px, 1.19, null);
  color: var(--muted-text-clr);
}

.footer__icon {
  margin: 0 10px 0 10px;
  animation: Scale 0.7s ease infinite alternate;
}

.footer__text {
  @include font(400, 16px, 1.19, null);
  color: var(--muted-text-clr);
}

.footer__link {
  @include font(400, 16px, 1.19, null);
  color: var(--muted-text-clr);

  // &--active:hover {
  //   color: $orange-color;
  // }

  // &--animation {
  //   text-decoration: none;
  //   position: relative;
  //   padding-bottom: 1px; /* padding for pseudo element */
  // }

  // &--animation::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   height: 1px;
  //   width: 100%;
  //   background-color: var(--muted-text-clr);
  //   transform: scaleX(1); /* show the line */
  //   transform-origin: left; /* starting point of transformation */
  //   transition: transform 0.3s ease-out;
  // }

  // &--animation:hover::before {
  //   transform: scaleX(0); /* hide the line */
  //   transform-origin: right; /* transformation endpoint */
  //   color: var(--muted-text-clr);
  //   background-color: $orange-color;
  // }
}

:root {
  --line-active: #f87719;
}

.footer__draw-text {
  margin-top: 10px;
  margin-left: 5px;
  color: var(--muted-text-clr);

  .footer__draw-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.6s;

    .footer__draw-svg {
      width: 250px;
      height: 65px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 17px) translateZ(0);
      fill: none;
      stroke: var(--stroke, var(--muted-text-clr));
      stroke-linecap: round;
      stroke-width: 1px; // <---------товщина лыныї підкреслення.
      stroke-dasharray: var(--offset, 69px) 278px;
      stroke-dashoffset: 361px;
      transition: stroke 0.55s ease var(--stroke-delay, 0s),
        stroke-dasharray 0.75s;
    }
    &:hover {
      --spacing: 4px;
      --stroke: var(--line-active);
      --stroke-delay: 0.1s;
      --offset: 180px;
    }
  }

  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 10px;
  }
}
