.site-header {
  padding: 8px 20px;

  // border: 2px solid green;

  @include tablet {
    padding: 12px 32px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  @include desktop {
    margin-right: 90px;
  }

  &-img {
    width: 30px;
    height: 24px;
    @include tablet {
      margin-right: 8px;
      width: 48px;
      height: 48px;
    }
  }

  &-text {
    display: none;
    color: var(--primary-text-clr);
    @include tablet {
      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.16;
    }
  }
}

.header__menu-button {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    outline: none;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: $light-gray-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
  }
}

.nav-list {
  display: none;
  @include tablet {
    display: flex;
    gap: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }

  &__link {
    text-transform: uppercase;
    color: $light-gray-color;
  }
}

// ====================== THEME SWITCHER==============================

.header__theme-switcher {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  width: 38px;
  height: 16px;
  background-color: $orange-color;
  background: $linear-gradient-down;
  border-radius: 194px;
  padding: 5px;
  position: relative;

  @include tablet {
    width: 54px;
    height: 20px;
    margin-left: auto;
    gap: 24px;
  }

  @include desktop {
    width: 60px;
    height: 24px;
    gap: 24px;
  }

  &::before {
    content: '';
    border-radius: 50px;
    background-color: $white-color;
    position: absolute;
    top: 12.5%;
    width: 12px;
    height: 12px;
    transform: translateX(var(--switcher-pos-mob));
    @include animation(transform);

    @include tablet {
      width: 16px;
      height: 16px;
      transform: translateX(var(--switcher-pos-tab));
    }

    @include desktop {
      width: 18px;
      height: 18px;
      transform: translateX(var(--switcher-pos-desk));
    }
  }
}

#icon-moon,
#icon-sun {
  width: 8px;
  height: 8px;

  @include tablet {
    width: 11px;
    height: 11px;
  }
  @include desktop {
    width: 13px;
    height: 13px;
  }
}

// ============================ MOBILE MENU ==============================/
.backdrop {
  background-color: var(--backdrop-bgc);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include animation(opacity);

  &.visually-hidden {
    opacity: 0;
  }
}

.mobile-menu__container {
  @media screen and (max-width: 767px) {
    background-color: var(--mobile-menu-bgc);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    z-index: 3;
    width: calc(100% - 116px);

    transform: translateX(-100%);
    @include animation(transform);
    & .nav-list {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &.is-open {
      transform: translateX(0);

      & .mobile-menu__logo-img {
        display: block;
      }
    }
  }

  margin: 0 auto;
}

.mobile-menu__logo-img {
  display: none;
  width: 30px;
  height: 24px;
  margin-bottom: 44px;
}
