.site-header {
    background-color: black;
    padding: 8px 20px;
  
    @media screen and (min-width: 768px) {
      padding: 12px 32px;
    }
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .logo-box {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .logo-text {
    display: none;
    color: white;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
  
  .logo {
    width: 32px;
    height: 32px;
    background-color: orange;
    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
  }
  
  .header__theme-switcher {
    display: flex;
    align-items: center;
    width: 38px;
    height: 16px;
    background-color: orange;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    border-radius: 194px;
    margin-left: auto;
    padding: 2px;
    position: relative;
  
    @media screen and (min-width: 768px) {
      width: 54px;
      height: 20px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 60px;
      height: 24px;
    }
  
    &::before {
      content: '';
      border-radius: 50px;
      background-color: white;
      position: absolute;
      width: 16px;
      height: 16px;
    }
  }
  
  .nav-list {
    display: none;
    color: #b7b7b7;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 32px;
    }
  }
  
  .header__menu-button {
    display: block;
    outline: none;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: #b7b7b7;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }