.watch-trailer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 139px;
  height: 48px;

  /* linear */

  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
