.hero {
  position: relative;
}

.hero .container {
  background-image: url(../images/hero_mob.jpg);
  padding: 0;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      87.8deg,
      #0e0e0e 15.61%,
      rgba(14, 14, 14, 0) 60.39%
    ),
    url(../images/hero_mob.jpg);

  @include retina {
    background-image: linear-gradient(
        87.8deg,
        #0e0e0e 15.61%,
        rgba(14, 14, 14, 0) 60.39%
      ),
      url(../images/hero_mob_2x.jpg);
  }

  // @include mobile {
  //   background-image: linear-gradient(
  //       87.8deg,
  //       #0e0e0e 15.61%,
  //       rgba(14, 14, 14, 0) 20.39%
  //     ),
  //     url(../images/hero_mob.jpg);

  //   @include retina {
  //     background-image: linear-gradient(
  //         87.8deg,
  //         #0e0e0e 15.61%,
  //         rgba(14, 14, 14, 0) 20.39%
  //       ),
  //       url(../images/hero_mob_2x.jpg);
  //   }
  // }

  @include tablet {
    background-image: linear-gradient(
        87.8deg,
        #0e0e0e 15.61%,
        rgba(14, 14, 14, 0) 60.39%
      ),
      url(../images/hero_tab.jpg);

    @include retina {
      background-image: linear-gradient(
          87.8deg,
          #0e0e0e 15.61%,
          rgba(14, 14, 14, 0) 60.39%
        ),
        url(../images/hero_tab_2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(
        87.8deg,
        #0e0e0e 15.61%,
        rgba(14, 14, 14, 0) 60.39%
      ),
      url(../images/hero.jpg);

    @include retina {
      background-image: linear-gradient(
          87.8deg,
          #0e0e0e 15.61%,
          rgba(14, 14, 14, 0) 60.39%
        ),
        url(../images/hero_2x.jpg);
    }
  }
}
.hero__container {
  background-repeat: no-repeat;
  height: 380px;
  padding: 0 20px;

  @include tablet {
    background-image: var(--hero-subtract-clr-tab);
    height: 432px;
    padding: 0 32px;
  }
  @include desktop {
    background-image: var(--hero-subtract-clr-desk);
    height: 720px;
    // padding-left: 32px;
    // padding-right: 32px;
  }
}

.hero__block-left {
  position: absolute;
  top: 40px;
  width: 166px;

  @include tablet {
    top: 122px;
    width: 357px;
  }

  @include desktop {
    top: 229px;
    width: 464px;
  }
}

.hero__title {
  @include font(700, 32px, 1.19, 0em);
  color: $white-color;
  margin-bottom: 8px;

  @include tablet {
    @include font(null, 44px, 1.18, null);
    color: var(--hero-title-clr);
  }

  @include desktop {
    @include font(null, 64px, 1.17, null);
    margin-bottom: 16px;
  }
}

.hero__text {
  @include font(400, 14px, 1.14, 0em);
  margin-bottom: 16px;
  color: $transparent-white-color;

  @include tablet {
    color: var(--primary-text-clr);
    margin-bottom: 32px;
  }

  @include desktop {
    @include font(null, 16px, 1.19, null);
  }
}

.hero__text-hidden {
  display: none;

  @include tablet {
    display: block;
  }
}

.hero__subtract {
  position: absolute;
}

.watch-trailer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 139px;
  height: 48px;

  /* linear */

  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
