.my-lib__hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mobile {
    min-height: 380px;
    // max-width: 480px;
  }

  background-image: linear-gradient(
      83.48deg,
      #0e0e0e 25.78%,
      rgba(14, 14, 14, 0) 60.07%
    ),
    url(/src/images/red_seats_mob.jpg);

  @include retina {
    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(/src/images/red_seats_mob@2x.jpg);
  }

  @include tablet {
    min-height: 370px;
    // max-width: 768px;

    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(/src/images/red_seats_tab.jpg);

    @include retina {
      background-image: linear-gradient(
          83.48deg,
          #0e0e0e 25.78%,
          rgba(14, 14, 14, 0) 60.07%
        ),
        url(/src/images/red_seats_tab@2x.jpg);
    }
  }

  @include desktop {
    min-height: 660px;
    // max-width: 1280px;

    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(/src/images/red_seats_desk.jpg);

    @include retina {
      background-image: linear-gradient(
          83.48deg,
          #0e0e0e 25.78%,
          rgba(14, 14, 14, 0) 60.07%
        ),
        url(/src/images/red_seats_desk@2x.jpg);
    }
  }
}

.my-lib__hero-container {
  display: flex;
  flex-direction: column;
}

.my-lib__hero-title {
  display: inline-block;
  max-width: 235px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: $white-color;
  @include tablet {
    max-width: 332px;
    font-size: 44px;
    line-height: 1.18;
  }
  @include desktop {
    max-width: 464px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.my-lib__hero-description {
  display: inline-block;
  max-width: 249px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.06;
  color: $transparent-white-color;
  @include tablet {
    max-width: 357px;
    letter-spacing: 0.05;
  }
  @include desktop {
    max-width: 464px;
    letter-spacing: 0.8;
    line-height: 1.4;
  }
}

.my-lib__gallery {
  padding: 40px 0;

  @include tablet {
    padding: 90px 0 60px 0;
  }

  @include desktop {
    padding: 117px 0 96px 0;
  }
}


.my-lib__gallery-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style-type: none;
  // padding-top: 48px;
  //  position: absolute;
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

  }

  & .cards__list-text,
  & .cards__list-title{
    color: $white-color;
  }
}

.my-lib__no-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 0;

  @include tablet {
    padding: 80px 0 60px 0;
  }

  @include desktop {
    padding: 160px 0 100px 0;
  }
}

.my-lib__oops-message {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: var(--modal--text-color);

  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 25px;
    line-height: 1.3;
  }

  @include desktop {
    margin-bottom: 30px;
    line-height: 1.12;
  }
}
