#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  border: none;
  background-color: transparent;
}

.scroll-up__icon {
  width: 50px;
  height: 50px;
  fill: $orange-color;
  transition: fill 0.2s ease-in-out;

  &--active:hover {
    fill: $red-color;
  }
}
